* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
}

.sider-head {
    position: absolute;
    top: 0px;
}

.siders-1 {
    position: fixed;
    top: 0px;
    z-index: 5;
    height: 100vh;
}

.sider {
    height: 15vh;
    display: flex;
}

.sider h1 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 10px;
    color: white;
}

.sider img {
    margin-top: 20px;
    margin-left: 10px;
}

.content {
    width: 100%;
    height: 50vh;
}

.content h1 {
    font-size: 40px;
    font-weight: 500;
}

.content .divide {
    display: flex;
}

.content .divide .left {
    width: 50%;
    height: 100%;
}

.content .divide .right {
    width: 50%;
    height: 100%;
}


/* ---------header ------------- */

.Main-header {
    position: fixed;
    width: 100%;
    z-index: 5;
}


/* --------------cyrtoCurrency-------------------- */

.body-cryto {
    min-height: 80vh;
}

.text-cryto {
    display: flex;
    justify-content: space-between;
}

.text-cryto input {
    height: 7vh;
    width: 50vh;
    border-radius: 25px;
    border: none;
    margin: 10px;
    margin-top: 60px;
    padding-left: 15px;
    box-shadow: 15px 10px 10px rgb(63, 49, 255);
}

.text-cryto button {
    width: 100px;
    height: 35px;
    background-color: rgb(1, 32, 74);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 15px;
    position: relative;
    top: 45px
}

.cyrto-head {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cyrto-head h1 {
    font-size: 30px;
    font-weight: 600;
}

.cyrto {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.cyrtoGrid {
    margin: 10px;
}


/* ----content------- */

.content-main {
    margin-top: 50px;
}


/* ---------news------------------ */

.news-head {
    display: flex;
    justify-content: space-between;
}

.NewsHeading {
    min-height: 80vh;
    margin-top: 20px;
}

.NewsHeading h1 {
    font-size: 30px;
    font-weight: 600;
}

.news_grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.news-title {
    display: flex;
    justify-content: space-around;
}

.news-title h2 {
    font-weight: bold;
}

.news-provider {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.news-provider img {
    margin: 0px 10px 5px 10px;
}

.news-card .p-card {
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
}

.news-card {
    margin: 10px;
}

.news-card-1 {
    height: 50vh;
}

.search-news-1 {
    width: 35vh;
    height: 5vh;
    margin: 5px;
}


/* ---news--heading---- */

.head-grid {
    width: 100%;
    height: 60vh;
    position: relative;
}

.head-title {
    display: flex;
}

.head-title h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.head-title img {
    height: 100%;
    max-width: 70vh;
}

.head-body p {
    font-size: 20px;
    text-align: left;
}

.provider {
    display: flex;
}

.provider img {
    max-width: 70px;
    height: 70px;
}

.provider h4 {
    margin: 25px 0px 25px 5px;
}

.end-head {
    display: flex;
    justify-content: space-between;
}

.control-next .control-prev {
    background-color: black;
}


/* Exchange */

.exchange {
    min-height: 80vh;
}

.exchange-table {
    border: 2px solid black;
    min-width: 100%;
}

.exchange-table thead th {
    border: 1px solid black;
    padding: 10px;
}

.exchange-table tbody tr:nth-child(odd) {
    /* background-color:rgba(0, 149, 255, 0.356); */
    font-size: 18.5px;
}

.exchange-table tbody td {
    padding: 10px;
}

.exchange-table tbody .odd {
    background-color: rgba(15, 207, 255, 0.122);
}

.exchange-table tbody tr:hover {
    background-color: dimgrey;
}

.exchange-table tbody tr:active {
    background-color: crimson;
}

.exchange-table button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.exchange-table .st1 {
    width: 50vw;
}

.exchange-table .success {
    padding: 0 10px;
}

.exchange-table thead tr {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(1, 32, 74);
}

.text-input {
    display: flex;
    justify-content: space-between;
}

.text-input input {
    width: 40vw;
    margin: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.text-input button {
    width: 100px;
    height: 35px;
    background-color: rgb(1, 32, 74);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 10px;
}

.checkbox-type {
    display: flex;
    flex-direction: column;
}

.checkbox-type-1 {
    /* border: 2px solid black; */
    margin: 0px 0px 15px 15px
}

.checkbox-type-1 input[type="checkbox"] {
    width: 25px;
    height: 30px;
    position: relative;
    top: 10px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: black;
}

.checkbox-type-1 label {
    font-size: 15px;
    margin-right: 50px
}
/* crypto-details */
.crypto-details{
    width: 100%;
    min-height: 80vh;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.heading-crypto-details
{
    width:100%;
    height: 20vh;
    border-bottom:2px solid rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction:column;
    align-items: center;
    margin-bottom: 40px;
}
.heading-crypto-details h2{
    font-size: 30px;
    font-weight: bold;
    color:rgb(54, 160, 202);
}
.crypto-details select{
    width:10vw;
    height: 30px;
    border-radius: 10px;
    margin: 0 10px;
    
}
.body-crypto-details{
    display:flex;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    justify-content: space-between;
}
.body-crypto-details h1{
    font-size: 22px;
    font-weight: bold;
}
.body-crypto-details p{
    color:rgba(0, 0, 0, 0.5);

}
.body-crypto-details table,.Links-crypto-details table{
    width: 100%;
}
.body-crypto-details table tr,.Links-crypto-details table tr{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 40px;
}
.body-crypto-details table tr:hover,.Links-crypto-details table tr:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    transition: border-bottom 0.9s;
}
.stats-crypto-details{
    width: 47%;
    height: auto;

}
.generic-stats-crypto-details{
    width: 47%;
    height: auto
}
.html-parse-crypto-details{
    padding: 20px 10px;
}
.html-parse-crypto-details  h1{
    font-size: 30px;
    font-weight: bold;
    color:rgb(54, 160, 202);
}
.Links-crypto-details h2{
    font-size: 25px;
    font-weight: bold;
    color:rgb(54, 160, 202);
}